# Expo/React Native dependencies
node_modules/
.expo/
dist/
build/
bin/
out/
web-build/
expo-env.d.ts

# Native folders (generated)
/ios
/android
ios/build/
android/build/

# IDE files
.vscode/
.idea/
.project
.classpath
.settings/
*.swp
*.swo
.eslintcache

# System files
.DS_Store
Thumbs.db
*.pem

# Local configuration files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# Debug/Tests
coverage/
.metro-health-check*

# Keys & Certificates
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.com.apple.InterfaceBuilder.v3.plist
